<br>
<script>
    // this is not working...
    document.getElementById('MA').onclick = function() {
        this.className = 'active';
        document.getElementById('lose').className = '';
        document.getElementById('gain').className = '';
    };
    document.getElementById('gain').onclick = function() {
        this.className = 'active';
        document.getElementById('MA').className = '';
        document.getElementById('lose').className = '';
    };
    document.getElementById('lose').onclick = function() {
        this.className = 'active';
        document.getElementById('MA').className = '';
        document.getElementById('gain').className = '';
    };

</script>

<div class = "container">
      <div class = "navbar navbar-default">
          <div class = "container">
              <ul class = "nav navbar-nav">
                  <li id = "MA" class="active">{{#link-to 'stockStateSummary'}}Most Active By Volume{{/link-to}}</li>
                  <li id = "gain"><a href = "#">Gainers</a></li>
                  <li id = "lose"><a href = "#">Losers</a></li>
              </ul>
          </div>
      </div>
    <table class = "table table-striped table-bordered table-hover" >
        <thead>
            <tr>
                <th style = "text-align:center;">Company</th>
                <th style = "text-align:center;">Open Price</th>
                <th style = "text-align:center;">Last Sale</th>
                <th style = "text-align:center;" colspan = "3">Change</th>
                <th style = "text-align:center;">Share Volume</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-link = "row" class = "rowlink">
        {{#each company in model}}
            <tr>
                <td style = "text-align:center;">{{#link-to 'marketByOrder' company.id}}{{company.name}}{{/link-to}}</td>
                <td style = "text-align:center;">{{company.openPrice}}</td>
                <td style = "text-align:center;">{{company.lastSale}}</td>
                <td style = "text-align:center;">{{company.netChange}}</td>
                <td style = "text-align:center;"><img {{bindAttr src = "company.changePic"}}></td>
                <td style = "text-align:center;">{{company.percentChange}}%</td>
                <td style = "text-align:center;">{{company.volume}}</td>
                <td style = "text-align:center;">
                    {{#link-to 'placeBidOrder' company.id}}<button type="button" class="btn btn-info">Buy</button>{{/link-to}}
                    {{#link-to 'placeSaleOrder' company.id}}<button type="button" class="btn btn-info">Sell</button>{{/link-to}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br>
    {{outlet}}
</div>